<h2>{{choice 'seedbank::messages.seed' 2}}</h2>
  <table class="table" id="seeds">
    <!-- All seeds -->
    <thead>
      <tr>
        <h4>{{lang 'seedbank::messages.recentlyAdded'}}</h4>
      </tr>
    </thead>
    <tbody>
      {{#each seeds}}
      <tr data-seed_id="{{id}}">
        <td>{{common_name}}</td>
        <td>{{site_name}}</td>
        <td>{{name}}</td>
      </tr>
      {{else}}
      <tr>
        <h4>{{lang 'seedbank::messages.noContent'}}</h4>
      </tr>
      {{/each}}
    </tbody>
  </table>
  <table class="table" id="mySeeds">
    <!-- My seeds -->
    <thead>
      <tr>
        <h4>{{lang 'seedbank::messages.myseeds'}}</h4>
      </tr>
    </thead>
    <tbody>
      {{#each myseeds}}
      <tr data-seed_id="{{id}}">
        <td>{{common_name}}</td>
        <td>{{updated_at}}</td>
      </tr>
      {{else}}
      <tr>
        <h4>{{lang 'seedbank::messages.noContent'}}</h4>
      </tr>
      {{/each}}
    </tbody>
  </table>
