{{> mainapp_start}}
    <div class="row">
      <div class="col-md-6">
        <h1>{{lang 'seedbank::messages.myseeds'}}</h1>
      </div>
      <div class="col-md-6">
        <ul class="buttons">
          <li style="display:none;"><input type="text" name="searchseed" value=""></li>
          <li><a class="iconified exchanges pt"></a></li>
          <li><a class="iconified searchseed pt"></a></li>
          <li><a class="iconified delseed pt"></a></li>
          <li><a id="newseed" class="iconified newseed pt"></a></li>
        </ul>
      </div>
    </div>
    <!--div class="row search">

    </div -->
    <div class="row content seeds">
      <table class="table" style="width: 100%">
        <thead>
          <tr>
            <th width="100px"></th>
            <th>{{lang 'seedbank::messages.name' }},<br>{{lang 'seedbank::messages.family' }}</th>
            <th>ONDE E <br>QUANDO</th>
            <th>MÉTODO E <br> RECOLHA</th>
            <th>DISPONÍVEL <br> PARA TROCA</th>
          </tr>
        </thead>
        <tbody>
          {{#each paginated.data}}
          <tr data-seed_id={{id}}>
            <td><img style="width: 100px" src="{{#if pictures}}{{pictures.0.url}}{{else}}/images/planteieulogocinza.png{{/if}}" alt=""></td>
            <td>
              <p style="font-weight: bold; font-size:14px;">{{common_name}}</p>
              <p style="font-style: oblique;">{{latin_name}}</p>
              <p style="font-style: oblique;">{{lang 'seedbank::messages.family' }}: {{family.name}}</p>
            </td>
            <td><p>{{local}}</p>{{year}}<p></p></td>
            <td>{{#if direct}}{{lang 'seedbank::messages.directseeding'}}{{else}}{{lang 'seedbank::messages.othermethod' }}{{/if}}</td>
            <td>{{#if available}}{{lang 'seedbank::messages.yes'}}{{else}}{{lang 'seedbank::messages.no'}}{{/if}}</td>
          </tr>
          {{else}}
          <tr>
            {{lang 'seedbank::messages.nocontent' }}
          </tr>
          {{/each}}
        </tbody>
      </table>
      {{> paginator}}
    </div>

    {{> mainapp_end}}
    <!-- The Load Image plugin is included for the preview images and image resizing functionality -->
    <script src="/js/load-image.all.min.js"></script>
    <!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
    <script src="/js/jquery.iframe-transport.js"></script>
    <!-- The basic File Upload plugin -->
    <script src="/js/jquery.fileupload.js"></script>
    <!-- The File Upload processing plugin -->
    <script src="/js/jquery.fileupload-process.js"></script>
    <!-- The File Upload image preview & resize plugin -->
    <script src="/js/jquery.fileupload-image.js"></script>
    <!-- The File Upload audio preview plugin -->
    <script src="/js/jquery.fileupload-audio.js"></script>
    <!-- The File Upload video preview plugin -->
    <script src="/js/jquery.fileupload-video.js"></script>
    <!-- The File Upload validation plugin -->
    <script src="/js/jquery.fileupload-validate.js"></script>
    <script src="/js/tinymce/tinymce.min.js"></script>
    <script src="/js/utils.js{{#if uniqid}}?{{uniqid}}{{/if}}"></script>
    <!-- script type="text/javascript" src="/js/registerseed.js"></script -->
    <script type="text/javascript" src="/js/myseeds.js{{#if uniqid}}?{{uniqid}}{{/if}}"></script>
<script>
{{#if modal }}
$("#modal").modal('show');
{{/if}}

$('#files').on('click', 'button.delete', function(){
  var file = $(this).data(),
  that = this;
  $.getJSON(file.deleteUrl, function (data){
    if (data.files[0][file.md5sum]){
      that.closest('.col-md-4').remove();
    }
  });
  $.each($('#files').children('.col-md-4').not('.processing'), function (index, elem){
    if (! $(elem).find('img').length) {
      if ( ! $(elem).find('.fileinput-button').length ){
        $(elem).closest('.col-md-4').remove();
      }
    }
  });
});

</script>
{{>footer}}
