{{> mainapp_start}}
    <div class="row">
      <h1>{{lang 'seedbank::messages.seedsfrom' username=paginated.data.0.user.name place=paginated.data.0.user.place_name }}</h1>
    </div>
    <div class="row content seeds">
      {{# each paginated.data }}
      <div class="col-sm-4">
        <div data-seed_id="{{id}}" data-user_id="{{user.id}}">
          <img class="responsive" style="width: 150px; float:left; display:block;margin-right:12px;" src="{{#if pictures}}{{pictures.0.url}}{{else}}/images/planteieulogocinza.png{{/if}}" alt="">
          <p style="font-weight: bold; font-size:14px;">{{common_name}}</p>
          <p style="font-style: oblique;">{{latin_name}}</p>
          {{#if quantity}}
          <p style="font-weight: 800; text-decoration: underline;">{{quantity}} {{units}}</p>
          {{else}}
          <p style="font-weight: 800; text-decoration: underline;">{{lang 'seedbank::messages.quantityunknown' }}</p>
          {{/if}}
          <!-- p style="font-style: oblique;">{{../messages.family}}: {{family.name}}</p -->
        </div>
      </div>
      {{ else }}
      <h1>No Content</h1>
      {{/each}}
    </div>
    {{> paginator}}
    {{> mainapp_end}}
    <script src="/js/utils.js{{#if uniqid}}?{{uniqid}}{{/if}}"></script>

<script>
{{#if modal }}
$("#modal").modal('show');
{{/if}}
let parameters = [
  {"name": "seed_id", "value": "id"},
  {"name": "_id", "value": "id"},
  {"name": "common_name", "value": "common_name"},
  {"name": "local", "value": "local"},
  {"name": "year", "value": "year"},
  {"name": "public", "value": "public", "type": "checked"},
  {"name": "description", "value": "description", "type": "textarea"},
  {"name": "pictures[]", "value": "pictures[]", "type": "file" },
  {"name": "latin_name", "value": "latin_name"},
  {"name": "species", "value": "species.name"},
  {"name": "species_id", "value": "species.id"},
  {"name": "family", "value": "family.name"},
  {"name": "family_id", "value": "family.id"},
  {"name": "variety", "value": "variety.name"},
  {"name": "variety_id", "value": "variety.id"},
  {"name": "months[]", "value": "months[].month", "type": "checked"},
  {"name": "available", "value": "available", "type": "checked"},
  {"name": "polinization", "value": "polinization", "type": "checked"},
  {"name": "direct", "value": "direct", "type": "checked"}
];
$('.seeds div.col-sm-4 div').on('click', function () {
  //window.open('/seedbank/register/' + $(this).data('seed_id'), '_self');
  var seed_id = $(this).data('seed_id');
  window.open('/seedbank/allseeds?seed_id=' + seed_id + '&user_id=' + $(this).data('user_id') , '_self');
  /*$.get("/seedbank/seed/" + seed_id, function (data) {
    //console.log(data)
    if (data.length == 0){
      return false;
    }
    previewseed(parameters, data);
    $('#seed-preview').show();
    $('#modal').modal('show');
  });*/
}).mouseover(function () {
  $(this).addClass('active');
}).mouseout(function () {
  $(this).removeClass('active');
});

$('#modal').on('click', '#seed-preview button', function(){
  $('#modal').modal('hide');

});
</script>
{{>footer}}
